.wrapper{
    background-image: url('./img/photo-1577046848358-4623c0859b8a.jpg');
    min-height: 100vh;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.header{
    position: absolute;
    width: 100%;
}

.footer{
    padding-top: 50px;
}