.wrapper {
    background-color: #1e2b38 ;
    text-align: center;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height:40px;
}

.link {
    color: #fff;
    text-decoration: none; 
    font-size: 18px;
    margin: 0 75px; 
}

.link:hover {
    text-decoration: underline;
}
