.wrapper{
    display: flex;
    justify-content: space-between;
    padding: 2%;
    padding-right: 1%;
}

.firstBlock{
    width: 70%;
    position: relative;
}

.secondBlock{
    z-index: 10;
    width: 30%;
}