@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.dotgothic16-regular {
    font-family: "DefaultF", serif;
    font-weight: 400;
    font-style: normal;
  }
  
body, html {
    font-family: 'DefaultF', serif; /* Fallback to a similar font in case the custom font fails */
}


.wrapper{
    padding: 2px;
    min-height: 70vh;
    border-radius: 25px;
}

.statistic{
    padding-left: 25px;
    background-color: #BCB8B1;
    margin-bottom: 25px;
    display: flex;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'DefaultF', serif;
}

.line{
    width: 2px;
    margin-top: 5px;
    border-radius: 50px;
    height: 40px;
    background-color: #fdfdfd90;
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'DefaultF', serif;

}

span{
    margin-top: 10px;
}

.messages{
    background-color: #dae2e7;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'DefaultF', serif;
}