.wrapper{
    padding: 2px;
    min-height: 70vh;
    border-radius: 25px;
}

.statistic{
    padding-left: 25px;
    background-color: #bbbec090;
    margin-bottom: 50px;
    display: flex;
    color: #fff;
    text-align: center;
    justify-content: center;
}

.line{
    width: 2px;
    margin-top: 5px;
    border-radius: 50px;
    height: 40px;
    background-color: #bbbec090;
    margin-left: 25px;
    margin-right: 25px;

}

span{
    margin-top: 10px;
}

.messages{
    background-color: #bbbec090;
}