@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.wrapper {
    min-height: 490px;
    max-height: 490px;
    overflow-y: auto; 
    font-family: 'DotGothic16', serif; 
    background-color: #c9c2b7;
    scrollbar-width: thin; 
    border-style: outset;
    scrollbar-width: thin; 
    scrollbar-color: #95A5A6 #D4D0C8;
}

.wrapper::-webkit-scrollbar-track {
    background: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
    background: rgba(149, 165, 166, 0.3);
    border-radius: 4px;
}

.wrapper::-webkit-scrollbar-thumb:hover {
    background: rgba(149, 165, 166, 0.5); 
}

.wrapper table,
.wrapper th,
.wrapper td {
    font-family: 'DotGothic16', serif !important; /* Force the font globally on table elements */
}

.statistic {
    padding-left: 25px;
    background-color: #BCB8B1;
    margin-bottom: 25px;
    display: flex;
    color: #000;
    border-radius: 25px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'DotGothic16', serif; /* Apply font */
}

.line {
    width: 2px;
    margin-top: 5px;
    border-radius: 50px;
    height: 40px;
    background-color: #fdfdfd90;
    margin-left: 25px;
    margin-right: 25px;
}

span {
    margin-top: 10px;
    font-family: 'DotGothic16', serif; /* Apply font */
}

.messages {
    background-color: #dae2e7;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'DotGothic16', serif; /* Apply font */
}
